.calculatorContainer {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    margin: auto;
    margin-top: 100px;
    height: 550px;
    width: 400px;
    background-color: rgb(33, 38, 105);
}

.buttonContainer > button {
    height: 80px;
    width: 85px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    background-color: black;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    width: 340px;
    height: 250px;
    
}

.spanTwo{
    flex-grow: 2;
}


.output {
    background-color: black;
    color: white;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    background-color: grey;
    margin-top: 15px;
}

.output .pOperation {
    color: white;
    font-size: 1.5rem;
}

.output .cOperation {
    color: white;
    font-size: 2.5rem;
}

.firstRow {
    display: flex;
    width: 100%;
    height: 70px;

}